.logo {
    flex: 20%;
    margin-left: 10%;
    text-align: left;
    // border: 1px solid red;

    h1 {
        font-family: "Lobster", sans-serif;
        font-size: 40px;
        color: black;
        text-shadow: 4px 4px 8px white;
        letter-spacing: 1px;
    }
}