$azul-escuro: #180f4a;
$black: black;
$backgroudnav: #32afc5;
$navbar: #3bd9f5;

$white: white;

@import './_logo.scss';
@import './_navbar.scss';
@import './menu';

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-flow: row wrap;
    background: #32afc5;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    overflow: hidden; //aqui mudei, não existia e criei.
}

.headline {
    margin-left: 10%;
    flex: 40%;
    // border: 1px solid $black;
    padding-top: 20px;

    h2 {
        font-weight: 900;
        font-size: 20px;
        color: $black;
        padding: 0;
        padding-top: 0;
        padding-bottom: 10px;
        margin: 0;
        // font-family: "Lobster", sans-serif;
    }

    p {
        color: $black;
        text-align: left;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

.contact-btn {
    display: inline-block;
    background: $navbar;
    padding: 20px;
    color: $black;
    text-decoration: none;
    border-radius: 80px;
    margin-bottom: 100px;


    &:hover {
        // background: #180f4a;
        background: $azul-escuro;
        color: $white;
    }
}
.contact-2btn {
    display: inline-block;
    background: $navbar;
    padding: 20px;
    margin-left: 4%;
    color: $black;
    text-decoration: none;
    border-radius: 80px;
    margin-bottom: 100px;


    &:hover {
        // background: #180f4a;
        background: $azul-escuro;
        color: $white;
    }
}

.img-headline {
    margin-right: 10%;
    flex: 40%;
    // border: 1px solid $black;

}

//leyvs


// Variáveis (Boa prática no Sass para facilitar mudanças de cores futuras)
$gold-light: #d4b36f;
$gold-medium: #907a4c;
$gold-dark: #443414;
$blue-border: #5d90be;
$shadow-blue: #180f4a;
$white: #ffffff;

section {
    background: $backgroudnav;
    display: inline-block;
    // margin-top: 80px;
    // margin-left: 5%;
    margin-left: 0;
    margin-right: 0;
    // margin-right: 5%;
    padding: 5%;
    text-align: center;
    /* border: 1px solid black; */
    /* height: 400px; */
    /* width: 90%; */


    h2 {

        width: 100%;
        font-size: 50px;
        margin: 0;
        font-family: "Lobster", sans-serif;
        font-weight: bold;
        color: $black;
        /* color: #3e231f; */
    }
}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.card {

    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid $black;
    border-radius: 15px;
    cursor: pointer;
    /* vertical-align: top; */
    /* box-sizing: border-box; */

    // Comportamento do Card ao passar o mouse
    &:hover {
        background: $azul-escuro;
        color: $white;
        padding: 40px;

        img {
            display: none;
        }

        .front {
            display: none;
        }

        .end {
            display: block;
        }
    }
}

.end {
    display: none;
}

footer {
    margin-top: 0px;
    height: 400px;
    background-image: linear-gradient(180deg, $backgroudnav, $azul-escuro, $black);
    text-align: center;
    border-top: 1px solid $black;
}

.logo {
    &.rodape {
        padding: 100px;

    }
}

.agencia {

    font-family: "Lobster", sans-serif;
    font-size: 40px;
    color: $white;
    text-shadow: 4px 4px 3px $shadow-blue;
    letter-spacing: 2px;
}